.credits-section {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.smoke-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  z-index: 10;
  text-align: center;
}

.logo {
  height: 100px;
  width: 100px;
  margin-bottom: 1rem;
}
