.credits-slide {
  position: relative;
  width: 100%;
  height: 100vh; /* full slide height */
  overflow: hidden;
}

.spline-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spline-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
}

.credits-content {
  position: relative;
  z-index: 10; /* above Spline */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  text-align: center;
  padding: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}
